In [27]:
# Scraping Data from a Real Website + Pandas

In [52]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

In [54]:
url = 'https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue'
page = requests.get(url)

In [56]:
soup = BeautifulSoup(page.text, 'html.parser')

In [58]:
table = soup.find('table', class_='wikitable sortable')

In [60]:
world_titles = table.find_all('th')
world_table_titles = [title.text.strip() for title in world_titles]

In [62]:
df = pd.DataFrame(columns=world_table_titles)

In [64]:
rows = table.find_all('tr')
print(f"Number of rows found: {len(rows)}")

Number of rows found: 101

In [66]:
for row in rows[1:]:  
    row_data = row.find_all('td')
    individual_row_data = [data.text.strip() for data in row_data]
    if individual_row_data:  
        df.loc[len(df)] = individual_row_data[:len(world_table_titles)]

In [68]:
print(f"Number of rows in DataFrame: {len(df)}")

Number of rows in DataFrame: 100

In [70]:
df.to_csv(r'C:\Users\yusuf\OneDrive\Masaüstü\Portfolio\Companies.csv', index=False)

In [49]:
print(df.head(20))

   Rank                  Name                        Industry  \
0     1               Walmart                          Retail
1     2                Amazon      Retail and cloud computing
2     3                 Apple            Electronics industry
3     4    UnitedHealth Group                      Healthcare
4     5    Berkshire Hathaway                    Conglomerate
5     6            CVS Health                      Healthcare
6     7            ExxonMobil              Petroleum industry
7     8              Alphabet  Technology and cloud computing
8     9  McKesson Corporation                          Health
9    10               Cencora              Pharmacy wholesale
10   11                Costco                          Retail
11   12        JPMorgan Chase              Financial services
12   13             Microsoft  Technology and cloud computing
13   14       Cardinal Health                      Healthcare
14   15   Chevron Corporation              Petroleum industry
15   16                 Cigna                Health insurance
16   17    Ford Motor Company             Automotive industry
17   18       Bank of America                      Financials
18   19        General Motors             Automotive industry
19   20       Elevance Health                      Healthcare

   Revenue (USD millions) Revenue growth  Employees  \
0                 648,125           6.0%  2,100,000
1                 574,785          11.9%  1,525,000
2                 383,482          -2.8%    161,000
3                 371,622          14.6%    440,000
4                 364,482          20.7%    396,500
5                 357,776          10.9%    259,500
6                 344,582         -16.7%     61,500
7                 307,394           8.7%    182,502
8                 276,711           4.8%     48,000
9                 262,173           9.9%     44,000
10                242,290           6.8%    316,000
11                239,425          54.7%    309,926
12                211,915           6.9%    221,000
13                205,012          13.0%     47,520
14                200,949         -18.4%     45,600
15                195,265           8.2%     71,413
16                176,191          11.5%    177,000
17                171,912          49.4%    212,985
18                171,842           9.6%    163,000
19                171,340           9.4%    104,900

                  Headquarters
0        Bentonville, Arkansas
1          Seattle, Washington
2        Cupertino, California
3        Minnetonka, Minnesota
4              Omaha, Nebraska
5     Woonsocket, Rhode Island
6                Spring, Texas
7    Mountain View, California
8                Irving, Texas
9   Conshohocken, Pennsylvania
10        Issaquah, Washington
11     New York City, New York
12         Redmond, Washington
13                Dublin, Ohio
14       San Ramon, California
15     Bloomfield, Connecticut
16          Dearborn, Michigan
17   Charlotte, North Carolina
18           Detroit, Michigan
19       Indianapolis, Indiana